<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhzssp.memorandum.mapper.TaskMapper">

    <resultMap id="TaskResult" type="org.zhzssp.memorandum.entity.Task">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="deadline" column="deadline"/>
        <result property="status" column="status"/>
        <result property="granularity" column="granularity"/>
        <result property="energyRequirement" column="energy_requirement"/>
        <result property="mentalLoad" column="mental_load"/>
        <result property="preferredSlot" column="preferred_slot"/>
        <result property="estimatedMinutes" column="estimated_minutes"/>
        <result property="createdAt" column="created_at"/>
        <result property="shelvedAt" column="shelved_at"/>
        <association property="user" javaType="org.zhzssp.memorandum.entity.User">
            <id property="id" column="user_id"/>
        </association>
    </resultMap>

    <select id="searchTasks" resultMap="TaskResult">
        SELECT * FROM memo
        <where>
            user_id = #{userId}
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR description LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="startDate!=null">
                AND deadline &gt;= #{startDate}
            </if>
            <if test="endDate!=null">
                AND deadline &lt;= #{endDate}
            </if>
        </where>
        ORDER BY deadline DESC
    </select>
</mapper>
